:root {
  --max-width:87%;
  --font-preview:var(--default-font);
  --font-monospace:'Source Code Pro', monospace;
  --font-ui:var(--default-font);
  --font-editor:var(--default-font);
  --base-d:16%;
  --accent-d:60%;
}
.centerImg img {
    display: block;
    margin: 0px auto;
}